<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.grocerydelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Global"
        android:theme="@style/Theme.GroceryDelivery">
        <activity android:name=".Category"/>
        <activity android:name=".AddProduct"/>
        <activity android:name=".AddCategory"/>
        <activity android:name=".Admin"/>
        <activity android:name=".Recyclerview"/>
        <activity android:name=".Signin"/>
        <activity android:name=".Signup"/>
        <activity android:name=".CartRecycleView"/>
        <activity android:name=".WishlistRecycleView"/>
        <activity android:name=".Purchase"/>
        <activity android:name=".MainActivity"
            tools:ignore="Instantiatable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>